:root {
    --basic-white: #FFFFFF;
    --basic-extra-light: #EEEEEE;
    --additional-light: #E1E1E1;
    --basic-light: #DFDFDF;
    --basic-light-grey: #D5D5D5;
    --basic-extra-grey: #D7DCDE;
    --basic-light-dark: #B4B9BB;
    --basic-grey: #4D4D4D;
    --basic-black: #000000;
    --basic-red: #FB565A;
    --red-hover: #E74246;
    --red-active: #D7373B;
    --basic-green: #00CA74;
    --green-hover: #00BC6C;
    --green-active: #00AA62;
    --basic-yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;
}

/* Global */

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page-body a {
    text-decoration: none;
    color: var(--basic-black);
}

.page-body img {
    max-width: 100%;
    height: auto;
}


/* Main navigation */

.header {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--basic-extra-light);
}

.navigation-list {
    list-style: none;
}

.navigation-list_item_link:hover,
.navigation-bag:hover {
    color: var(--basic-red);
}

.navigation-list_item_link:active,
.navigation-bag:active {
    color: var(--basic-black);   
    opacity: 0.3;
}

/*  Slider */

.main-block {
    background-color: var(--basic-extra-light);
}

.main-block h1 {
    display: none;
}

.main-block h2{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 0;
}


/* Advantages Block */

.advantages h2 {
    display: none;
}

.advantages li {
    list-style: none;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages-block_item_img-1 {
    background-color: var(--basic-red);
}

.advantages-block_item_img-2 {
    background-color: var(--basic-green);
}

.advantages-block_item_img-3 {
    background-color: var(--basic-yellow);
}

/* About Block */

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.about-text-block_title {
    font-weight: 700;
    text-transform: uppercase;  
}

.about-text-block_list {
    list-style: none;
}

.numbers-block h2 {
    display: none;
}

.numbers-block_title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.numbers-block_list {
    list-style: none;
}

.numbers-block_list p:nth-of-type(2n+1) {
    font-size: 45px;
    line-height: 65px;
    font-weight: 700;   
}

.numbers-block_list span {
    vertical-align: super;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;   
}


/* Portfolio */

.portfolio-block h2 {
 display: none;
}

.portfolio-list {
    list-style: none;
}

.portfolio-list_item_img {
    opacity: 0.2;
}

.portfolio-list_item_img:hover {
    opacity: 1;
}

.portfolio-list_item_img:active {
    opacity: 0.1;
}


/* contacts */

.contacts-block h2 {
    display: none;
   }

.contacts-info h3 {
    display: none;
   }
.contacts-info_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-info_text {
    line-height: 18px;
}

.contacts-map_map-img {
    background-color: var(--basic-light);
}

/* CATALOG PAGE */
.header-catalog_title {
    background-color: var(--basic-extra-light);
}

.header-catalog_title h1 {
font-size: 55px;
line-height: 55px;
font-weight: 500;
margin-top: 0;
text-align: center;
}

/* Filters */

.filters h2 {
    display: none;
}

.filter-form_range-fieldset,
.filter-form_radio-fieldset,
.filter-form_checkbox-fieldset {
    border: none;
}

.filter-form_range-fieldset legend,
.filter-form_radio-fieldset legend,
.filter-form_checkbox-fieldset legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-form_range-fieldset label {
    text-transform: uppercase;
    line-height: 22px;
}

.filter-form_radio-list label,
.filter-form_checkbox-list label {
    line-height: 20px;
}

.filter-form_radio-list li,
.filter-form_checkbox-list li {
    list-style: none;
}

/* Templates */

.templates h2 {
    display: none;
}

.template-sorting_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; 
} 

.templates-sorting_list li {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase; 
    opacity: 0.3;
}

.templates-sorting_list li:hover {
    opacity: 0.6;
}

.templates-sorting_list li:active {
    opacity: 1;
}

.templates-sorting_list .templates-sorting_list_active {
    opacity: 1;
}

.templates-sorting-actions li {
    list-style: none;
}

.templates-list_item {
    list-style: none;
}

.templates-list_item_bottom-sheet {
    background-color: var(--basic-extra-light);
    width: 360px;
    text-align: center;
    /* display: none; */
    /* пока не разобрался до конца как сделать, чтобы работал ховер на изображение */
}

.templates-list_item_img:hover .templates-list_item_bottom-sheet {
    display: block;
}

.templates-list_item_bottom-sheet a:first-of-type {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; 
}

.pagination li {
    list-style: none;
}

.pagination_item a {
    background-color: var(--basic-extra-light);
    border-radius: 3px;
}

.pagination_item a:hover {
    background-color: var(--basic-light);
}

.pagination_item a:active {
    background-color: var(--basic-light-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}

.pagination_item-current a {
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}


/* Footer */

.socials h2 {
    display: none;
   }

.socials-list {
    list-style: none;
}

.socials-list_link {
    /* Здесь пока не разобрался как сделать нормально иконку внутри круга  */
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background-color: var(--additional-light);
}

.socials-list_link:hover {
    background-color: var(--red-hover);
}

.socials-list_link:active {
    background-color: var(--red-active);
}

.footer-promo h2 {
    display: none;
   }

.footer-promo_title {
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
}

.socials-list_link img:active {
    opacity: 0.3;
}

/* PopUp */

.popup-contact {
    width: 960px;
    height: 590px;
    position: absolute;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.popup-contact h2 {
    font-size: 45px;
    font-weight: 700;   
}

.popup-contact label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700; 
}

.popup-contact-form_input {
    border: 2px solid var(--basic-extra-grey);
}

.popup-contact-form_input::placeholder {
    color: var(--basic-extra-grey);
}

.popup-contact-form_input:hover {
    border: 2px solid var(--basic-light-dark);
}

.popup-contact-form_input:hover::placeholder {
    color: var(--basic-light-dark);
}

.popup-contact-form_input:focus {
    border: 2px solid var(--basic-black);
}

.popup-contact-form_input:focus::placeholder {
    color: var(--basic-black);
}



/* Button */

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}

a.button,
button.button {
    color: var(--basic-white);  
}

.button-red {
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--red-hover);
}

.button-red:active {
    background-color: var(--red-active);
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--green-hover);
}

.button-green:active {
    background-color: var(--green-active);
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--yellow-hover);
}

.button-yellow:active {
    background-color: var(--yellow-active);
}

button.button_grey {
    background-color: var(--basic-extra-light);
    color: var(--basic-black);
}

button.button_grey:hover {
    background-color: var(--basic-light);
    color: var(--basic-black);
}

button.button_grey:active {
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
