:root {
    --basic-white: #FFFFFF;
    --basic-extra-light: #EEEEEE;
    --additional-light: #E1E1E1;
    --basic-light: #DFDFDF;
    --add-light-white: #DBDBDB;
    --add-extra-white: #CFCFCF;
    --add-white: #F1F1F1;
    --add-grey: #ABABAB;
    --basic-light-grey: #D5D5D5;
    --basic-extra-grey: #D7DCDE;
    --additional-grey: #C1C1C1;
    --basic-light-dark: #B4B9BB;
    --additional-light-grey: #F2F2F2;
    --basic-grey: #4D4D4D;
    --basic-dark-grey: #444444;
    --additional-dark-grey: #666666;
    --additional-text-grey: #283136;
    --add-dark-grey: #283136;
    --basic-black: #000000;
    --basic-red: #FB565A;
    --red-hover: #E74246;
    --red-active: #D7373B;
    --basic-green: #00CA74;
    --green-hover: #00BC6C;
    --green-active: #00AA62;
    --basic-yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;
    --popup-shadow: rgba(0, 0, 0, 0.4);
    --template-shadow: rgba(0, 0, 0, 0.25);
    --pagination-shadow: rgba(0, 1, 1, 0.1);
    --button-active-shadow: rgba(0, 1, 1, 0.1);
}

/* Global */

.page {
    height: 100%;
}

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

}

.page-body a {
    text-decoration: none;
    color: var(--basic-black);
}

.page-body img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Main navigation */

.header-background {
    background-color: var(--basic-extra-light);
}

.header-logo {
    margin: 0;
    padding: 0;
    line-height: 0;
    margin-top: 49px;
}

.header {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    column-gap: 20px;
}

.navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 75px;
    margin-left: 45px;
}

.navigation-list li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    margin-right: 45px;
}

.navigation-list-item-link {
    padding-top: 5px;
    padding-bottom: 6px;
}

.navigation-list-item-current::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    height: 13px;
    width: 100%;
    border-bottom: 2px solid var(--basic-red);
}

.navigation-bag {
    justify-self: end;
    margin-top: 75px;
}

.navigation-bag-link {
    padding-left: 30px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 6px;
}

.navigation-bag-link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/bag-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    right: 100px;
    top: 7px;
}

.navigation-list-item-link:hover,
.navigation-bag-link:hover {
    color: var(--basic-red);
}

.navigation-list-item-link:active,
.navigation-bag-link:active {
    color: var(--basic-black);   
    opacity: 0.3;
}


/*  Slider */

.main-block {
    background-color: var(--basic-extra-light);
}

.main-block h2{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 78px;
}

.slider-content p {
    margin-top: 37px;
    margin-bottom: 27px;
    color: var(--additional-text-grey);
}

.slider-item:first-of-type p {
    margin-top: 25px;  
    margin-bottom: 38px;
    width: 450px;
}


.slider {
    margin: 0;
    padding: 0;
    width: 1160px;
    margin: 0 auto;
}

.slider-controls-wrap {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.slider-item {
    display: grid;
    width: 1160px;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    list-style: none;
}

.slider-item-hidden {
    display: none;
}

.slider-item-current {
    display: grid;
}

.slider-content {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main-slide-img {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-left: 10px;
}

.slider-controls {
    position: absolute;
    display: flex;
    top: -114px;
    left: 535px;
    z-index: 20;
    padding: 0;
    margin: 0;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    margin-right: 17px;
    border: none;
    position: relative;
}

.slider-controls-current::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 2px solid var(--additional-grey);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    top: 5px;
    left: 5px;
}





/* Advantages Block */

.advantages-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 78px;
    border-bottom: 2px solid var(--basic-extra-light);
}

.advantages li {
    list-style: none;
    display: grid;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}

.advantages-block-item p {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--additional-text-grey);
}

.advantages-block-item img {
    order: -1;
}

.advantages-block-item-img-1 {
    background-color: var(--basic-red);
}

.advantages-block-item-img-2 {
    background-color: var(--basic-green);
}

.advantages-block-item-img-3 {
    background-color: var(--basic-yellow);
}

/* About Block */

.about {
    display: grid;
    width: 1160px;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 0;
}

.about-text-block {
    width: 651px;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 73px;
    margin-bottom: 0px;
}

.about-text-block p {
    margin-top: 34px;
    margin-bottom: 0;
    color: var(--additional-text-grey);
}

.about-text-block .about-text-block-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0;
}

.about-text-block-list {
    list-style: none;
    margin-top: 23px;
    margin-bottom: 0;
    padding-left: 36px;
    color: var(--additional-text-grey);
}

.about-text-block-list li:not(:last-child) {
    margin-bottom: 24px;
}

.about-text-block-list li {
    position: relative;
    padding: 0;
}


.about-text-block-list li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: url("../img/list-rectangle-red.svg") no-repeat 0 0;
    top: 10px;
    left: -36px;
}

.numbers-block {
    margin-top: 39px;
    text-align: end;
}

.numbers-block-title {
    font-weight: 700;
    text-align: end;
    text-transform: uppercase;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: 15px;
    padding: 0;
}

.numbers-block-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    margin-top: 31px;

}

.numbers-block-list p {
    margin: 0;
}

.numbers-block-list-item:first-of-type p:first-child {
    text-align: end;
    margin-right: 5px;
}

.numbers-block-list-item:nth-of-type(2) p:first-child {
    text-align: center;
}

.numbers-block-list-item:nth-of-type(3) p:first-child {
    text-align: start;
    margin-left: 6px;
}

.numbers-block-list p:nth-of-type(2n+1) {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700; 
}

.numbers-block-list-item p:last-child {
    margin-top: 10px;
    color: var(--additional-text-grey);
    line-height: 18px;
    text-align: start;
}

.numbers-block-list-item:first-child p:last-child {
    margin-left: 27px;
}

.numbers-block-list-item:nth-child(2) p:last-child {
    margin-left: 17px;
}

.numbers-block-list-item:nth-child(3) p:last-child {
    margin-left: 7px;
}

.numbers-block-list span {
    vertical-align: super;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;   
}


/* Portfolio */

.portfolio-block {  
    margin-bottom: 80px;
    margin-top: 73px; 
}

.portfolio-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    width: 1160px;
    margin: 0 auto;
    border-bottom: 2px solid var(--basic-extra-light);
    border-top: 2px solid var(--basic-extra-light);
    height: 181px;
    align-items: center;
    justify-items: start;
}

.portfolio-list-item {
    position: relative;
    transform: translate(9px, 3px);
}

.portfolio-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-image: url("../img/portfolio-divider.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 50%;
    transform: translate(0, -50%);
    left: 250px;
}

.portfolio-list-item:first-child img {
    transform: translate(3px, 3px);
}

.portfolio-list-item:nth-child(2) img {
    transform: translate(-2px, 3px);
}

.portfolio-list-item:nth-child(3) img {
    transform: translate(10px, 3px);
}

.portfolio-list-item:nth-child(4) img {
    transform: translate(14px, 5px);
}

.portfolio-list-item-img {
    opacity: 0.2;
}

.portfolio-list-item-img:hover {
    opacity: 1;
}

.portfolio-list-item-img:active {
    opacity: 0.1;
}


/* contacts */

.contacts-info-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-info-text {
    line-height: 18px;
}

/* CATALOG PAGE */
.header-catalog-title {
    background-color: var(--basic-extra-light);
}

.header-catalog-title h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 0;
    text-align: center;
    margin-bottom: 54px;
    padding-top: 78px;
    padding-bottom: 108px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
}



/* Filters */

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .range-filter {
    width: 260px;
    margin-top: 49px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }

  
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 13px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--add-white);
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
    background: var(--basic-extra-grey);
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--add-grey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--add-extra-white);
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
  }
  
  .price-controls input {
    width: 60px;
    padding: 8px;
    padding-left: 11px;
    margin-left: 10px;
    text-align: center;
    color: var(--additional-text-grey);
    border: none;
    border-radius: 5px;
    background: var(--add-white);
    font-family: inherit;
    font-size: inherit;
    line-height: 22px;
  }

.filter-form-radio-fieldset,
.filter-form-checkbox-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-form-radio-fieldset legend,
.filter-form-checkbox-fieldset legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-form-radio-fieldset {
    margin-top: 54px;
}

.filter-form-checkbox-fieldset {
    margin-top: 24px;
}

.filter-form-radio-list,
.filter-form-checkbox-list {
    padding-left: 36px;
    margin: 0;
    margin-top: 16px;
}

.filter-form-radio-list li,
.filter-form-checkbox-list li {
    margin-bottom: 20px;
}


.filter-form-radio-list label,
.filter-form-checkbox-list label {
    line-height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-form-radio-input + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--basic-grey);
    opacity: 0.4;
    border-radius: 50%;
    box-sizing: border-box;
  }

.filter-form-radio-input:checked + label::after {
    content: "";
    position: absolute;
    left: -27px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-grey);
    opacity: 0.4;
    border-radius: 50%;
  }

.filter-form-checkbox-input + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.filter-form-checkbox-input:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.filter-form-radio-input:checked:hover + label::after,
.filter-form-radio-input:hover + label::before,
.filter-form-radio-input:focus + label::before,
.filter-form-radio-input:focus + label::after,
.filter-form-checkbox-input:checked:hover + label::before,
.filter-form-checkbox-input:hover + label::before,
.filter-form-checkbox-input:focus + label::before {
    opacity: 1;
  }



  .filter-form-radio-input:disabled + label,
  .filter-form-checkbox-input:disabled + label {
    opacity: 0.3;
}

.filter-form-radio-input:disabled + label::before,
.filter-form-checkbox-input:disabled + label::before {
    opacity: 0.33;
  }

.filter-form-radio-list li,
.filter-form-checkbox-list li {
    list-style: none;
}

/* Templates */

.templates p {
    margin: 0;
}

.template-sorting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    margin-bottom: 88px;
}

.template-sorting-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; 
    grid-column: 1 / 2;
} 

.templates-sorting-buttons {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;  
    display: flex;
    justify-content: space-between;
}

.templates-sorting-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 296px;
}

.templates-sorting-list li {
    list-style: none;
    margin-right: 25px;
    display: block;
    align-self: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase; 
}

.templates-sorting-list a {
    opacity: 0.3;
}

.templates-sorting-list-item:hover > a {
    opacity: 0.6;
}

.templates-sorting-list-item:active > a {
    opacity: 1;
}

.templates-sorting-list .templates-sorting-list-active {
    opacity: 1;
}

.templates-sorting-actions {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
}

.templates-sorting-actions-down-dir{
    list-style: none;
    margin-right: 18px;
}

.templates-sorting-actions-up-dir {
    list-style: none;
    opacity: 0.2;
}

.templates-sorting-actions-up-dir:hover {
    opacity: 0.4;
    cursor: pointer;
}

.templates-sorting-actions-up-dir:active {
    opacity: 1;
}

.templates-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    column-gap: 42px;
    row-gap: 64px;
}

.templates-list-item {
    list-style: none;
    position: relative;
}

.templates-list-item::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 360px;
    background: url("../img/browser.svg") no-repeat 0 0;
    top: -40px;
    opacity: 0.12;
}

.templates-list-item-img {
    border: 1px solid var(--additional-light-grey);
    box-sizing: border-box;
}

.templates-list-item-bottom-sheet {
    background-color: var(--basic-extra-light);
    width: 330px;
    text-align: center;
    display: none; 
    position: absolute;
    bottom: 0;
    padding-top: 26px;
    padding-bottom: 44px;
    transform: translate(0, -6px);
    padding-left: 15px;
    padding-right: 15px;
}

.templates-list-item:hover .templates-list-item-bottom-sheet {
    display: block;
}

.templates-list-item:hover.templates-list-item::before {
    opacity: 1;
}

.templates-list-item:hover .templates-list-item-img {
    border: none;
    box-shadow: 0 6px 15px var(--template-shadow);
}

.templates-list-item-bottom-sheet a:first-of-type {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: inline-block;
    max-height: 85px;
    overflow: hidden;
}

.templates-list-item-bottom-sheet p {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 34px;
    line-height: 18px;
    color: var(--additional-dark-grey);
    overflow: hidden;
    max-height: 360px;
}

.templates-list-item-bottom-sheet a:first-child:hover {
    color: var(--basic-red);
}

.templates-list-item-bottom-sheet a:first-child:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 59px;
}

.pagination li {
    list-style: none;
    margin: 0;
    margin-right: 11px;
    padding: 0;
}

.pagination-item a {
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    display: block;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 1px;
}

.pagination-item:last-of-type a {
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
    width: 260px;
    text-align: center; 
}

.pagination-item a:hover {
    background-color: var(--basic-light);
}

.pagination-item a:active {
    background-color: var(--basic-light-grey);
    box-shadow: inset 0px 3px 0px var(--pagination-shadow);
    opacity: 0.3;
}

.pagination-item-current a {
    display: block;
    background-color: var(--basic-white);
    box-sizing: border-box;
    border: 3px solid var(--add-light-white);
    border-radius: 3px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}


/* Footer */

.contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    position: relative;
}

.contact-map-marker {
    position: absolute;
    top: 70px;
    left: calc(50% + 127px);
    z-index: 25;
}

.contacts-map {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
}

.contacts-block .contacts-map-map-img {
    background-color: var(--basic-light);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    height: 416px;
}

.contacts-block iframe {
    border: none;
    position: relative;
    width: 100%;
    z-index: 30;
}

.contacts-info {
    background-color: var(--basic-white);
    width: 320px;
    height: 310px;
    align-self: center;
    padding: 0;
    position: absolute;
    top: 53px;
    left: calc(50% + -580px);
    z-index: 40;
}

.contacts-info-content {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
}

.contacts-info-title {
    margin-bottom: 0;
}

.contacts-info-text {  
    margin-top: 21px;
    margin-bottom: 18px;
}

.contacts-info-tel-number {
    margin-bottom: 37px;
    margin-top: 20px;
    display: block;
}

.contacts-info-text,
.contacts-info-text .contacts-info-tel-number {
    color: var(--additional-dark-grey);
}

.sub-footer {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
}

.socials-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 61px;
}

.socials-list-link {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--additional-light);
    margin: 0;
    margin-right: 9px;
    margin-bottom: 10px;
}

.socials-list-link:hover {
    background-color: var(--red-hover);
}

.socials-list-link:active {
    background-color: var(--red-active);
}

.socials-list-link:active > img {
    opacity: 0.3;
}

.footer-promo-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 68px;
    margin-left: 13px;
    margin-bottom: 0;
}

.footer-promo-text {
    margin-bottom: 74px;
    margin-top: 10px;
    margin-left: 13px;
    line-height: 22px;
}


/* PopUp */

.popup-contact {
    width: 960px;
    height: 590px;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px var(--popup-shadow);
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
}

.popup-contact-hidden {
    display: none;
}

.popup-contact-form {
    display: grid;
    grid-template-columns: 360px 360px;
    width: 760px;
    column-gap: 40px;
    margin-left: 100px;
}

.popup-contact h2 {
    font-size: 45px;
    font-weight: 700; 
    align-self: center;
    margin-left: 100px;
    margin-top: 63px;
    margin-bottom: 38px;
    line-height: 53px; 
}

.popup-contact-form-item-1 {
    grid-column: 1 / 2;
    margin: 0;
    margin-bottom: 34px;
}

.popup-contact-form-item-2 {
    grid-column: 2 / 3;
    margin: 0;
    margin-bottom: 34px;
}

.popup-contact-form-item-3 {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 38px;
}

.popup-contact-form label {
    display: block;
    margin-bottom: 9px;
}

.popup-contact label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700; 
}

.popup-contact-form-input {
    border: 2px solid var(--basic-extra-grey);
    border-radius: 3px;
    width: 326px;
    padding: 12px 17px 14px 14px;
}

.popup-contact-form-input::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
}

.popup-contact-form-input:hover {
    border: 2px solid var(--basic-light-dark);
}

.popup-contact-form-input:hover::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0.5;
}

.popup-contact-form-input:focus {
    border: 2px solid var(--basic-black);
}

.popup-contact-form-input:focus::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0;
}

.popup-contact-form-input:invalid {
    border: 2px solid var(--basic-red);
}

.popup-contact-form-textarea {
    width: 726px;
}

.close-popup {
    border: none;
    background: transparent;
    width: 21px;
    height: 21px;

}

.close-popup-img {
    position: absolute;
    opacity: 0.3;
    top: 80px;
    right: 90px;
    width: 21px;
    height: 21px;
}

.close-popup-img:hover {
    opacity: 1;
}

.close-popup-img:active {
    opacity: 0.1;
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

.modal-error {
    animation: shake 0.6s;
}


/* Button */

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding-top: 17px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
}

.wide-button {
    width: 259px;
}

.slider-button {
    width: 240px;
}

a.button,
button.button {
    color: var(--basic-white);  
}

.advantages-block-item-button {
    width: 160px;
}

.contacts-info-button {
    width: 219px;
}

.filter-form-button {
    width: 260px;
    margin-top: 30px;
    text-transform: uppercase;
}

.templates-list-item-button {
    width: 200px;
    margin: 0 auto;
}

.button-red {
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--red-hover);
}

.button-red:active {
    background-color: var(--red-active);
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--green-hover);
}

.button-green:active {
    background-color: var(--green-active);
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--yellow-hover);
}

.button-yellow:active {
    background-color: var(--yellow-active);
}

button.button-grey {
    background-color: var(--basic-extra-light);
    color: var(--basic-black);
}

button.button-grey:hover {
    background-color: var(--basic-light);
    color: var(--basic-black);
}

button.button-grey:active {
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}
