:root {
    --basic-white: #FFFFFF;
    --basic-extra-light: #EEEEEE;
    --additional-light: #E1E1E1;
    --basic-light: #DFDFDF;
    --basic-light-grey: #D5D5D5;
    --basic-extra-grey: #D7DCDE;
    --additional-grey: #C1C1C1;
    --basic-light-dark: #B4B9BB;
    --additional-light-grey: #F2F2F2;
    --basic-grey: #4D4D4D;
    --basic-dark-grey: #444444;
    --additional-dark-grey: #666666;
    --additional-text-grey: #283136;
    --basic-black: #000000;
    --basic-red: #FB565A;
    --red-hover: #E74246;
    --red-active: #D7373B;
    --basic-green: #00CA74;
    --green-hover: #00BC6C;
    --green-active: #00AA62;
    --basic-yellow: #EFC849;
    --yellow-hover: #EAB534;
    --yellow-active: #E5A722;
}

/* Global */

.page {
    height: 100%;
}

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

}

.page-body a {
    text-decoration: none;
    color: var(--basic-black);
}

.page-body img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Main navigation */

.header-background {
    background-color: var(--basic-extra-light);
}

.header_logo {
    margin: 0;
    padding: 0;
    line-height: 0;
    margin-top: 49px;
}

.header {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    column-gap: 20px;
}

.navigation {
    margin: 0;
    padding: 0;
}

.navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 75px;
    margin-left: 45px;
}

.navigation-list li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    margin-right: 45px;
}

.navigation-list_item_link {
    padding-top: 5px;
    padding-bottom: 6px;
}

.navigation-list_item-current::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    height: 13px;
    width: 100%;
    border-bottom: 2px solid var(--basic-red);
}

.navigation-bag {
    justify-self: end;
    margin-top: 75px;
}

.navigation-bag_link {
    padding-left: 30px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 6px;
}

.navigation-bag_link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/bag-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    right: 100px;
    top: 7px;
}

.navigation-list_item_link:hover,
.navigation-bag_link:hover {
    color: var(--basic-red);
}

.navigation-list_item_link:active,
.navigation-bag_link:active {
    color: var(--basic-black);   
    opacity: 0.3;
}


/*  Slider */

.main-block {
    background-color: var(--basic-extra-light);
}

.main-block h2{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 78px;
}

.slider_content p {
    margin-top: 37px;
    margin-bottom: 27px;
    color: var(--additional-text-grey);
}

.slider-item:first-of-type p {
    margin-top: 25px;  
    margin-bottom: 38px;
}


.slider {
    margin: 0;
    padding: 0;
    width: 1160px;
    margin: 0 auto;
}

.slider-controls-wrap {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.slider-item {
    display: grid;
    width: 1160px;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    list-style: none;
}

.slider-item_hidden {
    display: none;
}

.slider-item_current {
    display: grid;
}

.slider_content {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main-slide-img {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-left: 10px;
}

.slider-controls {
    position: absolute;
    display: flex;
    top: -114px;
    left: 535px;
    z-index: 20;
    padding: 0;
    margin: 0;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    margin-right: 17px;
    border: none;
    position: relative;
}

.slider-controls_current::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 2px solid var(--additional-grey);
    border-radius: 50%;
    height: 8px;
    width: 8px;
    top: 5px;
    left: 5px;
}





/* Advantages Block */

.advantages-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 78px;
    border-bottom: 2px solid var(--basic-extra-light);
}

.advantages li {
    list-style: none;
    display: grid;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}

.advantages-block_item p {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--additional-text-grey);
}

.advantages-block_item img {
    order: -1;
}

.advantages-block_item_img-1 {
    background-color: var(--basic-red);
}

.advantages-block_item_img-2 {
    background-color: var(--basic-green);
}

.advantages-block_item_img-3 {
    background-color: var(--basic-yellow);
}

/* About Block */

.about {
    display: grid;
    width: 1160px;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 0;
}

.about-text-block {
    width: 651px;
}

.about h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-top: 73px;
    margin-bottom: 0px;
}

.about-text-block p {
    margin-top: 34px;
    margin-bottom: 0;
    color: var(--additional-text-grey);
}

.about-text-block .about-text-block_title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0;
}

.about-text-block_list {
    list-style: none;
    margin-top: 23px;
    margin-bottom: 0;
    padding-left: 36px;
    color: var(--additional-text-grey);
}

.about-text-block_list li:not(:last-child) {
    margin-bottom: 24px;
}

.about-text-block_list li {
    position: relative;
    padding: 0;
}


.about-text-block_list li::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background: url("../img/list-rectangle-red.svg") no-repeat 0 0;
    top: 10px;
    left: -36px;
}

.numbers-block {
    margin-top: 39px;
    text-align: end;
}

.numbers-block_title {
    font-weight: 700;
    text-align: end;
    text-transform: uppercase;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: 15px;
    padding: 0;
}

.numbers-block_list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    margin-top: 31px;

}

.numbers-block_list p {
    margin: 0;
}

.numbers-block_list li:first-of-type p:first-child {
    text-align: end;
    margin-right: 5px;
}

.numbers-block_list li:nth-of-type(2) p:first-child {
    text-align: center;
}

.numbers-block_list li:nth-of-type(3) p:first-child {
    text-align: start;
    margin-left: 6px;
}


.numbers-block_list p:nth-of-type(2n+1) {
    font-size: 45px;
    line-height: 65px;
    font-weight: 700; 
}

.numbers-block_list li p:last-child {
    margin-top: 10px;
    color: var(--additional-text-grey);
    line-height: 18px;
    text-align: start;
}

.numbers-block_list li:first-child p:last-child {
    margin-left: 27px;
}

.numbers-block_list li:nth-child(2) p:last-child {
    margin-left: 17px;
}

.numbers-block_list li:nth-child(3) p:last-child {
    margin-left: 7px;
}

.numbers-block_list span {
    vertical-align: super;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;   
}


/* Portfolio */

.portfolio-block {  
    margin-bottom: 80px;
    margin-top: 73px; 
}

.portfolio-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    width: 1160px;
    margin: 0 auto;
    border-bottom: 2px solid var(--basic-extra-light);
    border-top: 2px solid var(--basic-extra-light);
    height: 181px;
    align-items: center;
    justify-items: start;
}

.portfolio-list_item {
    position: relative;
    transform: translate(9px, 3px);
}

.portfolio-list_item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-image: url("../img/portfolio-divider.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 50%;
    transform: translate(0, -50%);
    left: 250px;
}

.portfolio-list .portfolio-list_item:first-child img {
    transform: translate(3px, 3px);
}

.portfolio-list .portfolio-list_item:nth-child(2) img {
    transform: translate(-2px, 3px);
}

.portfolio-list .portfolio-list_item:nth-child(3) img {
    transform: translate(10px, 3px);
}

.portfolio-list .portfolio-list_item:nth-child(4) img {
    transform: translate(14px, 5px);
}

.portfolio-list_item_img {
    opacity: 0.2;
}

.portfolio-list_item_img:hover {
    opacity: 1;
}

.portfolio-list_item_img:active {
    opacity: 0.1;
}


/* contacts */

.contacts-info_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-info_text {
    line-height: 18px;
}

.contacts-map_map-img {
    background-color: var(--basic-light);
}

/* CATALOG PAGE */
.header-catalog_title {
    background-color: var(--basic-extra-light);
}

.header-catalog_title h1 {
font-size: 55px;
line-height: 55px;
font-weight: 500;
margin-top: 0;
text-align: center;
margin-bottom: 55px;
padding-top: 78px;
padding-bottom: 108px;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    width: 1160px;
    padding: 0;
    margin: 0 auto;
}



/* Filters */

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .range-filter {
    width: 260px;
    margin-top: 49px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
  }
  
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
  }

.filter-form_radio-fieldset,
.filter-form_checkbox-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-form_radio-fieldset legend,
.filter-form_checkbox-fieldset legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-form_radio-fieldset {
    margin-top: 52px;
}

.filter-form_checkbox-fieldset {
    margin-top: 24px;
}

.filter-form_radio-list,
.filter-form_checkbox-list {
    padding-left: 36px;
    margin: 0;
    margin-top: 16px;
}

.filter-form_radio-list li,
.filter-form_checkbox-list li {
    margin-bottom: 20px;
}


.filter-form_radio-list label,
.filter-form_checkbox-list label {
    line-height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-form_radio-input + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--basic-grey);
    opacity: 0.4;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .filter-form_radio-input:checked + label::after {
    content: "";
    position: absolute;
    left: -27px;
    top: 6px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-grey);
    opacity: 0.4;
    border-radius: 50%;
  }

  .filter-form_checkbox-input + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-form_checkbox-input:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-form_radio-input:checked:hover + label::after,
  .filter-form_radio-input:hover + label::before,
  .filter-form_checkbox-input:checked:hover + label::before,
  .filter-form_checkbox-input:hover + label::before {
    opacity: 1;
  }

  .filter-form_radio-input:disabled + label::before,
  .filter-form_checkbox-input:disabled + label::before,
  .filter-form_radio-input:disabled + label,
  .filter-form_checkbox-input:disabled + label {
    opacity: 0.1;
  }

.filter-form_radio-list li,
.filter-form_checkbox-list li {
    list-style: none;
}

/* Templates */

.templates p {
    margin: 0;
}

.template-sorting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    margin-bottom: 88px;
}

.template-sorting_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; 
    grid-column: 1 / 2;
} 

.templates-sorting-buttons {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;  
    display: flex;
    justify-content: space-between;
}

.templates-sorting_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 296px;
}

.templates-sorting_list li {
    list-style: none;
    margin-right: 25px;
    display: block;
    align-self: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase; 
}

.templates-sorting_list a {
    opacity: 0.3;
}

.templates-sorting_list li:hover > a {
    opacity: 0.6;
}

.templates-sorting_list li:active > a {
    opacity: 1;
}

.templates-sorting_list .templates-sorting_list_active {
    opacity: 1;
}

.templates-sorting-actions {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
}

.templates-sorting-actions_down-dir{
    list-style: none;
    margin-right: 18px;
}

.templates-sorting-actions_up-dir {
    list-style: none;
    opacity: 0.2;
}

.templates-sorting-actions_up-dir:hover {
    opacity: 0.4;
    cursor: pointer;
}

.templates-sorting-actions_up-dir:active {
    opacity: 1;
}

.templates-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    column-gap: 42px;
    row-gap: 64px;
}

.templates-list_item {
    list-style: none;
    position: relative;
}

.templates-list_item::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 360px;
    background: url("../img/browser.svg") no-repeat 0 0;
    top: -40px;
    opacity: 0.12;
}

.templates-list_item_img {
    border: 1px solid var(--additional-light-grey);
    box-sizing: border-box;
}

.templates-list_item_bottom-sheet {
    background-color: var(--basic-extra-light);
    width: 360px;
    text-align: center;
    display: none; 
    position: absolute;
    bottom: 0;
    padding-top: 26px;
    padding-bottom: 44px;
    transform: translate(0, -6px);
}

.templates-list_item:hover .templates-list_item_bottom-sheet {
    display: block;
}

.templates-list_item:hover.templates-list_item::before {
    opacity: 1;
}

.templates-list_item:hover .templates-list_item_img {
    border: none;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.templates-list_item_bottom-sheet a:first-of-type {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.templates-list_item_bottom-sheet p {
    padding: 0;
    margin-top: 12px;
    margin-bottom: 34px;
    line-height: 18px;
    color: var(--additional-dark-grey);
}

.templates-list_item_bottom-sheet a:first-child:hover {
    color: var(--basic-red);
}

.templates-list_item_bottom-sheet a:first-child:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 59px;
}

.pagination li {
    list-style: none;
    margin: 0;
    margin-right: 11px;
    padding: 0;
}

.pagination_item a {
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    display: block;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 1px;
}

.pagination_item:last-of-type a {
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
    width: 260px;
    text-align: center; 
}


.pagination_item a:hover {
    background-color: var(--basic-light);
}

.pagination_item a:active {
    background-color: var(--basic-light-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}

.pagination_item-current a {
    display: block;
    background-color: var(--basic-white);
    box-sizing: border-box;
    border: 3px solid #DBDBDB;
    border-radius: 3px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}


/* Footer */

.contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.contact-map_marker {
    position: absolute;
    top: 70px;
    left: 847px; 
}

.contacts-map {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
}

.contacts-map iframe {
    border: none;
}

.contacts-info {
    background-color: var(--basic-white);
    width: 320px;
    height: 310px;
    align-self: center;
    padding: 0;
    position: absolute;
    top: 54px; 
    left: 140px;
}

.contacts-info-content {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
}

.contacts-info_title {
    margin-bottom: 0;
}

.contacts-info_text {  
    margin-top: 21px;
    margin-bottom: 18px;
}

.contacts-info_tel {
    margin-bottom: 34px;
}

.contacts-info_text,
p .contacts-info_tel-number {
    color: var(--additional-dark-grey);
}

.sub-footer {
    display: grid;
    width: 1160px;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
}

.socials-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.socials-list_link {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--additional-light);
    margin: 0;
    margin-right: 9px;
    margin-top: 61px;
}

.socials-list_link:hover {
    background-color: var(--red-hover);
}

.socials-list_link:active {
    background-color: var(--red-active);
}

.socials-list_link:active > img {
    opacity: 0.3;
}


.footer-promo_title {
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 71px;
    margin-left: 13px;
    margin-bottom: 0;
}

.footer-promo_text {
    margin-bottom: 74px;
    margin-top: 12px;
    margin-left: 13px;
}


/* PopUp */

.popup-contact {
    width: 960px;
    height: 590px;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 40;
}

.popup-contact-form {
    display: grid;
    grid-template-columns: 360px 360px;
    width: 760px;
    column-gap: 40px;
    margin-left: 100px;
}

.popup-contact h2 {
    font-size: 45px;
    font-weight: 700; 
    align-self: center;
    margin-left: 100px;
    margin-top: 78px;
    margin-bottom: 52px; 
}

.popup-contact-form_item-1 {
    grid-column: 1 / 2;
    margin: 0;
    margin-bottom: 34px;
}

.popup-contact-form_item-2 {
    grid-column: 2 / 3;
    margin: 0;
    margin-bottom: 34px;
}

.popup-contact-form_item-3 {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 38px;
}

.popup-contact-form label {
    display: block;
    margin-bottom: 9px;
}

.popup-contact label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700; 
}

.popup-contact-form_input {
    border: 2px solid var(--basic-extra-grey);
    border-radius: 3px;
    width: 326px;
    padding: 12px 17px 14px 14px;
}

.popup-contact-form_input::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
}

.popup-contact-form_input:hover {
    border: 2px solid var(--basic-light-dark);
}

.popup-contact-form_input:hover::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0.5;
}

.popup-contact-form_input:focus {
    border: 2px solid var(--basic-black);
}

.popup-contact-form_input:focus::placeholder {
    color: var(--basic-dark-grey);
    opacity: 0;
}

.popup-contact-form_textarea {
    width: 726px;
}

.close-popup {
    border: none;
    background: transparent;
    width: 21px;
    height: 21px;

}

.close-popup_img {
    position: absolute;
    opacity: 0.3;
    top: 80px;
    right: 90px;
    width: 21px;
    height: 21px;
}

.close-popup_img:hover {
    opacity: 1;
}

.close-popup_img:active {
    opacity: 0.1;
}

/* Button */

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding-top: 17px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
}

.wide-button {
    width: 259px;
}

.slider-button {
    width: 240px;
}

a.button,
button.button {
    color: var(--basic-white);  
}

.advantages-block_item_button {
    width: 160px;
}

.contacts-info_button {
    width: 219px;
}

.filter-form_button {
    width: 260px;
    margin-top: 30px;
    text-transform: uppercase;
}

.templates-list_item_button {
    width: 200px;
    margin: 0 auto;
}

.button-red {
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--red-hover);
}

.button-red:active {
    background-color: var(--red-active);
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--green-hover);
}

.button-green:active {
    background-color: var(--green-active);
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--yellow-hover);
}

.button-yellow:active {
    background-color: var(--yellow-active);
}

button.button_grey {
    background-color: var(--basic-extra-light);
    color: var(--basic-black);
}

button.button_grey:hover {
    background-color: var(--basic-light);
    color: var(--basic-black);
}

button.button_grey:active {
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
